@model MVCDemo.Models.Product
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>
 <h4>Product Id:@Model.Id</h4>
                    </hr>
                    
                   
              
          
              <h4>  Product Name:@Model.Name</h4>
                     <hr/>
                
                   <h4> Rate:@Model.Rate</h4>
<button class="btn bg-light">@Html.ActionLink("Go Back To Previous Page","Index","Product")</button>

